proGit.pdf
sources/additionalSources/
code/version1/program/evaluation/*.txt
code/s1Version/program/evaluation/*.txt
*.out
*.toc
*.aux
*.log
*.fls
*.bbl
*.blg
*.fdb_latexmk
*.swp
*.bcf
*.tdo
*.run.xml
*.synctex.gz
*.nav
*.snm
results/*
ccTo/*
l2Error_1e-*
tikzTemplatesAndReports/*
rawFinalExps/*
code/*
code/version1/program/t.mat
code/version1/program/test.mat
importantProfiles/
structuredCode/nonconforming/knownExactEnergies/
experimentsUsable/rawData/
structuredCode/nonconforming/tempWorkspace.mat
