proGit.pdf
sources/additionalSources/
code/version1/program/evaluation/*.txt
code/s1Version/program/evaluation/*.txt
*.out
*.toc
*.png
*.aux
*.log
*.fls
*.bbl
*.blg
*.fdb_latexmk
*.swp
*.bcf
*.tdo
*.run.xml
*.synctex.gz
results/*
ccTo/*
l2Error_1e-*
code/version1/program/t.mat
code/version1/program/test.mat
importantProfiles/
structuredCode/nonconforming/knownExactEnergies/
