proGit.pdf
sources/additionalSources
code/version1/program/evaluation/*.txt
code/s1Version/program/evaluation/*.txt
*.out
*.toc
*.png
*.aux
*.log
*.fls
*.bbl
*.blg
*.fdb_latexmk
*.swp
results/*
ccTo/*
l2Error_1e-*
